{% extends "layout.html" %}
{% block content %}
<div class="about">
    <h1>Projects</h1>
    <img src="https://i.redd.it/gxpivz7yfzm51.jpg"/>
    <h3>Student of CS3</h3>
    <a href="http://127.0.0.1:5000">CPT Portfolio</a> 
    <p>Portfolio<a href="https://github.com/stewward/python-game-project">code</a></p>
    <p>The jounrey has been far! Taking the computer science course was indeed challanging.. with that said I had a really good time making different projects and learning a langauge I once didn't understand at all</p>
    <p>Fun lil choice <a href="https://github.com/stewward/python-game-project">game</a> created!</p>
    <p>Exploring the <a href="https://github.com/stewward/python-mapify">world?</a></p>
    <p>Wait there's<a href="/about/about_team.htm"> more?</a></p>
    <p><a href="/about/about_team.htm">OOP </a>project that half-ly work</p>


</div>
{% endblock %}

